.worksheet
	&_craft
		display block
		width 1000px

		margin-x(auto)

		padding-top 62px
		padding-right 117px
		padding-left 113px

		font-family 'PT Sans', 'Arial', sans-serif
		font-size 15px
		line-height 23px

		background url('/background-pattern.jpg')
