mixin header-main()
	+b('header').header-main&attributes(attributes)
		block header-main title

			h1.header-main__title

		a.header-main__logo-container(href='http://csssr.ru'): img.header-main__logo(src='csssr-logo.png' width=154 height=52 alt='Логотип CSSSR')
		br
		img.header-main__case(src='case.png' width=218 height118 alt='Дело')
