.completion-date
	display flex

	padding-top 86px
	padding-bottom 62px

	&__label
		margin-right 3px
		font-family 'PT Sans', 'Arial', sans-serif
		font-size 22.43 px
		font-weight bold
		line-height 49.83 px

	&__input
		width 205px

		margin-top -22px

		padding-left 11px
		padding-bottom 8px

		font-family 'Courier New', monospace
		font-size 30px
		line-height 36px

		border none
		outline none

		background url('../../underline.png') repeat-x
		background-position 0 -35%
