mixin completion-date()
	+b.completion-date&attributes(attributes)
		block

		label.completion-date__label(for='date') Дата заполенения
		input.completion-date__input#date(type='text' name='date' value='25.10.2016')
