.contacts
	display block

	padding-top 54px

	&__group
		display flex
		align-items flex-start

		margin-bottom 11px

		&_birthyear
			margin-bottom 14px

		&_location
			margin-bottom 14px

		&_skype
			margin-bottom 14px

	&__label
		margin-right 13px

		font-size 22.43px
		font-weight bold
		line-height 49.83px
		letter-spacing 0

	&__input
		flex-grow 1

		margin-top -5px

		padding-left 14px
		padding-bottom 8px

		font-family 'Courier New', 'Times New Roman', serif
		font-size 30px
		line-height 36px

		border none
		outline none

		background url('/underline.png') repeat-x
		background-position 50% -70%
