- var pageId = 0;
extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Artyom Resh test-project';

block header-main title
	h1.header-main__title Анкета верстальщика пиксель-перфекциониста Артёма Реша

block skills title
	h2.skills__title Расскажите о себе чекбоксами

block skills text
	p.skills__text
		|	Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати,
		|	отсутствие опыта не означает, что у вас меньше шансов стать одним из наших
		|	товарищей. Это означает, что вы будете получать те задачи, с которыми
		|	гарантировано будете справляться.

block js-level title
	h2.js-level__title Уровень владения JavaScript

block about-me title
	h2.about-me__title Расскажите о себе словами

block about-me text
	p.about-me__text
		|	Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете
		|	от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста
		|	строки будут добавляться автоматически.

block about-me story
	p.about-me__story
		|	Ну-ууу-уу...<br>
		|	Ээээ...<br><br>
		| Всем привет! Я&nbsp;Артём, верстальщик пиксель-перфекционист, рад познакомиться :)<br><br>
		| Буду честен и&nbsp;краток.<br><br>
		| С&nbsp;самого начала мне очень понравился и&nbsp;заинтересовал ваш блог, юмор и&nbsp;настрой.
		| Я&nbsp;захотел работать с&nbsp;вами и&nbsp;очень обрадовался, когда нашел подходящую для меня вакансию у&nbsp;вас.
		| Сделав&nbsp;же это тестовое задание, моё желание усилилось ещё сильнее. Мне очень понравилась организация рабочих
		| инструментов и&nbsp;сами инструменты.<br><br>
		| От&nbsp;работы в&nbsp;CSSSR я&nbsp;ожидаю:<br>
		| &mdash;&nbsp;нереальных, космических и&nbsp;просто сложных проектов, очень интересных, необычных, требующих творческих
		| решений и&nbsp;вполне рутинных, но&nbsp;от&nbsp;того не&nbsp;менее интересных задач;<br>
		| &mdash;&nbsp;бессонные ночи, что&nbsp;бы сделать всё &laquo;как надо&raquo;, а&nbsp;не&nbsp;&laquo;как получится&raquo;;<br>
		| &mdash;&nbsp;интересных и&nbsp;строгих людей, с&nbsp;которыми приятно работать и&nbsp;учится всему новому.<br><br>
		| В&nbsp;общем я&nbsp;ожидаю работу полную страдания, боли и&nbsp;отчаяния :)<br><br>
		| Я&nbsp;готов трудиться и&nbsp;совершенствоваться с&nbsp;вами. Я&nbsp;хочу стать частью команды CSSSR. Думаю я&nbsp;смогу привнести
		| в&nbsp;CSSSR много хороших решений и&nbsp;качественно выполненных проектов, что&nbsp;бы ваши ракеты и&nbsp;дальше могли достигать
		| дальних краёв галактики.<br><br>
		| Хорошего вам дня!<br><br>

block future-plans title
	h2.future-plans__title Какие у вас планы на будущее?

block future-plans text
	p.future-plans__text
		|	Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
