.about-me
	display block

	padding-top 19px

	&__text
		margin-bottom 24px

	&__story
		display block

		padding-top 0

		width 100%

		font-family 'Courier New', monospace
		font-size 30px
		line-height 60px

		background url('/underline.png')
		background-position 0 -9px
